In [83]:
import pandas as pd
import numpy as np

In [84]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [85]:
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [86]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [87]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [88]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [89]:
data['class']=data['class'].map({'ham':0, 'spam':1})

In [90]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [93]:
x=data['message']
y=data['class']

In [94]:
x.shape

(5572,)

In [95]:
y.shape

(5572,)

In [96]:
data.isnull().sum()

class      0
message    0
dtype: int64

In [99]:
x.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: message, dtype: object

In [109]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=42)

In [101]:
x_train.shape

(4457,)

In [102]:
x_test.shape

(1115,)

In [103]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english')
x_train_tfidf = vectorizer.fit_transform(x_train)
x_test_tfidf = vectorizer.transform(x_test)

#### Logistic Regression

In [104]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr = LogisticRegression()
lr.fit(x_train_tfidf, y_train)

pred_lr = lr.predict(x_train_tfidf)

print("Logistic Regression Accuracy:", accuracy_score(y_train, pred_lr))

Logistic Regression Accuracy: 0.9692618353152345

#### SVM

In [110]:
from sklearn.svm import LinearSVC

svm = LinearSVC()
svm.fit(x_train_tfidf, y_train)

pred_svm = svm.predict(x_train_tfidf)
print("SVM Accuracy:", accuracy_score(y_train, pred_svm))

SVM Accuracy: 0.9995512676688355

#### Random Forest

In [111]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(x_train_tfidf, y_train)

pred_rf = rf.predict(x_train_tfidf)
print("Random Forest Accuracy:", accuracy_score(y_train, pred_rf))

Random Forest Accuracy: 1.0

#### Naive Bayes

In [107]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(x_train_tfidf, y_train)

pred_nb = nb.predict(x_train_tfidf)

print("Naive Bayes Accuracy:", accuracy_score(y_train, pred_nb))

Naive Bayes Accuracy: 0.9838456360780794

#### High Accuracy is Random Forest  Model

In [108]:
import pickle
pickle.dump(rf, open('spam.pkl','wb'))
pickle.dump(vectorizer, open('vectorizer.pkl','wb'))